.wrapper {
    display: grid;
    position: relative;
    height: 80vh;
}

.container {
    place-self: center;
    display: flex;
    flex-direction: column;
    border: 2px solid teal;
    border-radius: 0.25rem;
}

.container>div:first-child {
    place-self: center;
    padding: 1rem 1rem;
    font-size: 1.25rem;
}

form {
    place-self: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

label {
    margin-top: 0.25rem;
}

input {
    margin: 0.25rem;
    width: 15rem;
    align-self: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 0.25rem;
}