@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

img
{
    max-width: 10cm;
    max-height: 10cm;
}
.result
{
    padding-left:10cm;
}

.pdp
{
    max-height: 3cm;
    max-width: 3cm;
    border: 1px solid transparent;
    border-radius: 50%;
}

.flex-box
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;


}
.you-might-also-like
{
    margin-top: 70%;
}

.SimilarBook
{
    margin-left: 10%;
}



.body
{
    margin-left: 40%;
}
.no-user-error
{
    margin-top:1%;
    margin-bottom: 4%;
    border: saddlebrown 1px solid;
    width:7cm;
    text-align: center;
}

.rate {
    display: inline-block;
    border: 0;
}
/* make widget invisible */
.rate > input {
    display: none;
}
/* make the widget float to the right */
.rate > label {
    float: right;
}
/* the star when it's un-hovered and un-checked */
.rate > label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full  black star from font awesome */
}

/* Half star when it's not checked or hovered upon  */
.rate .half:before {
    content: "\f089 "; /* half star from font awesome  */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked ~ label, /* color every label that comes  directly after a checked star*/
label:hover, label:hover ~ label { color: #73B100;  } /*color every hovered label and every label that comes directly after a hovered labem */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight selected stars when hovered upon */
input:checked ~ label:hover ~ label, /*highlight every star directly after a selected star when hovered upon */
label:hover ~ input:checked ~ label /* highlight hovered star and every selected star that comes after a hovered star (i.e : highlight previously selected stars)*/ { color: #A6E72D;  }


