.d-flex {
    justify-content: center;
    display: flex;
    margin-right: auto;
}

.container {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.ImagePos {
    position: fixed;
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
    flex-direction: column;
    width: 16em;
    height: 20em;
    margin-right: 5%;
    
}

#cover {
    box-shadow: 0 0 10px black;
}

.btn-group-1 {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-top: 2rem;
    width: 100%;
}

.box1 {
    margin-left: 30%;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    width: 60%;

}

#synopsis {
    font-family: " Times New Roman, serif";
    padding-top: 20px;
    font-size: 18px;
}

#liste {
    margin-left: 30px;
    list-style: none;
}

#lii {
    font-family: 'DecoType Naskh';
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}

#lii:hover {
    text-decoration: underline;
    text-decoration-color: darkgreen;
    text-decoration-thickness: 2.5px;
    animation: underline 1s ease-in-out;
}

@keyframes underline {
    from {
        text-decoration-color: green;
    }

    to {
        text-decoration-color: ghostwhite;
    }
}

.AboutAuthor {
    margin-top: 20px;
    font-family: 'DecoType Naskh';
    font-size: 18px;
}

#authorpic {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.flex-boxxx {

    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left:10%;

}

.SimilarBook {
    margin-left: 5%;
    transition: transform 0.3s ease-in-out;
}

.SimilarBook:hover {
    transform: scale(1.09);
}

.book-title {
    position: absolute;
    top: 30%;
    font-family: 'DecoType Naskh';
    font-size: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: transparent;
    padding: 10px;
    color: whitesmoke;

}

.ReadersEnjoy {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    margin-left: 30%;
}

.SimilarBook:hover .book-title {
    opacity: 1;
}

#userpic {
    border-radius: 50%;
    width: 70px;
    margin-left: 45%;
    margin-top: 5%;

}

.Ratings-reviews {

    margin-left: 30%;
}

#question {
    font-family: 'DecoType Naskh';
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 2.5em;
}

.rating-portion {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    font-size: 50%;
    height: 10%;

}

.writereview {
    margin-left: 7px;
    color: whitesmoke;
    font-size: 1rem;
    width: 8em;
    border: 0px;
    border-radius: 40px;
    background-color: #312403;
}

.writereview:hover {
    background-color: #422f08;
}

#addToList {
    width: 100%;
}

.dropdown-item:hover {
    font-weight: bold;
}

.dropdown-item:focus {
    background-color: transparent;
}

.AvgReviews {
    font-family: Apple Color Emoji;
}

/*THE STARS CSS */
.rate {
    display: inline-block;
    border: 0;
    font-size: 30%;
    margin-top: -4%;
}

/* make widget invisible */
.rate>input {
    display: none;
}

/* make the widget float to the right */
.rate>label {
    float: right;
}

/* the star when it's un-hovered and un-checked */
.rate>label:before {
    display: inline-block;
    font-size: 2rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 ";
    /* full  black star from font awesome */
}

/* Half star when it's not checked or hovered upon  */
.rate .half:before {
    content: "\f089 ";
    /* half star from font awesome  */
    position: absolute;
    padding-right: 0;
}

/* Click + hover color */
input:checked~label,
/* color every label that comes  directly after a checked star*/
label:hover,
label:hover~label {
    color: #73B100;
}

/*color every hovered label and every label that comes directly after a hovered labem */
/* Hover highlights */
input:checked+label:hover,
input:checked~label:hover,
/* highlight selected stars when hovered upon */
input:checked~label:hover~label,
/*highlight every star directly after a selected star when hovered upon */
label:hover~input:checked~label

/* highlight hovered star and every selected star that comes after a hovered star (i.e : highlight previously selected stars)*/
    {
    color: #A6E72D;
}

/* reviewers picture   */
.pdp {

    border: 1px solid transparent;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.Name_Review {
    display: flex;
    align-items: center;
    font-family: 'DecoType Naskh';
    font-size: 1.1rem;
}

/* TEXT AREA THING*/
.textarea {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 30%;
}