img {
    max-width: 10cm;
    max-height: 10cm;
}

.result {
    padding-left: 10cm;
}


#actionOnBook
{
    background-color: inherit;
    border-color: transparent;
    outline: transparent;
    width: 100%;
}

select option
{
    background-color: white;
    font-size: medium;
}


.you-might-also-like {
    margin-top: 40%;
}


.no-user-error {
    margin-top: 1%;
    margin-bottom: 2%;
    border: saddlebrown 1px solid;
    width: 7cm;
    text-align: center;
}
