.content {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-family: "Script MT Bold";
}

td>a>img {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  width: 120px;
  height: 180px;
}

td {
  text-align: center;
  vertical-align: middle;
  font-family: "Script MT Bold";
  font-size: 18px;
}

th {
  padding: 5px;
  text-align: center;
  font-style: italic;
  font-family: "DecoType Naskh";
  font-size: larger;
}

a {
  text-decoration: none;
  color: gray;
}