@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Work+Sans&display=swap');.flex-item
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 6rem;
    margin-left: 25%;
    border: 1px solid transparent;
    height: 100%;
}

.flex-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 5%;
}

#my-icons{
    animation: float 3s ease-in-out infinite;
    background-color: transparent;
    padding-left: 43%;
    padding-top: 3%;
}


.carousel-books
{   margin-left: 5%;
    width: 11.8rem;
    overflow: hidden;

}
.carousel-inner2 {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

#f1,#f2,#f3
{
    max-width: 313px;
    max-height: 475px;
    object-fit: fill;
}

@keyframes float {
    0% {
        /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
        transform: translatey(0px);
    }
    50% {
        /*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
        transform: translatey(-20px);
    }
    100% {
        /*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
        transform: translatey(0px);
    }
}

.genre
{
    font-family: 'Playfair Display', serif;
    color:white;
    font-weight: bold;
    text-align: left;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5%;
    padding-left: 5%;
    line-height: 30px;
    letter-spacing: .18em;
    font-size: 29px;

}

.category-box
{
    width: 100%;
}

.carouselExampleIndicators3
{
    margin-left: 10%;
}

.picture
{
    width: 40%;
    position: relative;
}

.genre-description
{
    color:white;
    font-weight: 400;
    padding-top: 5%;
    font-family: 'Work Sans', sans-serif;
}

.category-box
{
    background-color: #323232;
    margin-top: 35%;
}
.category-head
{
    display: flex;
    flex-direction: row;
}

