
.navbar
{
    background-color: #efddb3;
}
.navbar-brand
{
    font-family: "Script MT Bold";
}


.nav-item:not(:last-child) .nav-link:hover {

    background-color: #422f08;
    color: whitesmoke;
}

.fa-magnifying-glass {

    color: #b4b4b4;
    align-self: center;
    transform: translateX(-180%);
}



.profilePic {

    border-radius: 50%;
    width: 12%;
    height: 15%;
    object-fit: cover;
    margin-left: 80%;
}

.profilePic:hover {

    background-color: #422f08;
}