html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #efddb3;
    height: 3.5rem;

}

.navbar-brand {
    font-family: "Script MT Bold";
}

/*this applies the hover effect on the divs except the last one*/
.nav-item:not(:last-child) .nav-link:not(:last-child):hover {
    background-color: #422f08;
    color: whitesmoke;
}

.fa-magnifying-glass {
    color: #b4b4b4;
    align-self: center;
    transform: translateX(-250%);
}


.profilePic {
    border-radius: 50%;
    height: 2.1rem;
    width: 2.1rem;
    object-fit: cover;
    margin-left: 2rem;
    margin-top: -20px;
}

/*LEAF ANIMATION THINGY */
a.navbar-brand {

    font-size: 20px;
}

.fa-leaf {
    transition: all 0.3s ease;
}

a.navbar-brand.active {
    transform: scale(2);
    opacity: 0;
}

@keyframes rotateFall {

    /*animations starts with*/
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    /*animations ends with*/
    100% {
        transform: rotate(90deg) translate(50vw, 100vh);
        opacity: 0;
    }
}

.navButton {
    border-radius: 5%;
    background-color: #efddb3;
    border: 0;
}

.btn-group-2 {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-top: -20px;
}

/*this has a different hover effect so it only works on the picture and not the whole div */
.profilePic:hover {

    background-color: #422f08;
    color: whitesmoke;
}

.dropdown-menu {
    margin-left: -80px;
}

/*LEAF ANIMATION THINGY */
a.navbar-brand {

    font-size: 20px;
}

.fa-leaf {
    transition: all 0.3s ease;
}

a.navbar-brand.active {
    transform: scale(2);
    opacity: 0;
}


@keyframes rotateFall {

    /*animations starts with*/
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    /*animations ends with*/
    100% {
        transform: rotate(90deg) translate(50vw, 100vh);
        opacity: 0;
    }
}

.navButton {
    border-radius: 5%;
    background-color: #efddb3;
    border: 0;

}

.navButton:hover {
    background-color: #422f08;
    color: whitesmoke;
}

#back-to-top-btn {

    position: fixed;
    box-sizing: border-box;
    bottom: 20px;
    right: 20px;
    font-size: 23px;
    display: none;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: azure;
    color: darkred;
    cursor: pointer;
    outline: none;
    border: 3px solid darkred;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: darkred;
    color: #fff;
}

/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

/* zoomIn */
/* @keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
} */

/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

/*LEAF ANIMATION THINGY */
a.navbar-brand {

    font-size: 20px;
}

.fa-leaf {
    transition: all 0.3s ease;
}

a.navbar-brand.active {
    transform: scale(2);
    opacity: 0;
}


@keyframes rotateFall {

    /*animations starts with*/
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    /*animations ends with*/
    100% {
        transform: rotate(90deg) translate(50vw, 100vh);
        opacity: 0;
    }
}

.navButton {
    border-radius: 5%;
    background-color: #efddb3;
    border: 0;

}

.navButton:hover {
    background-color: #422f08;
    color: whitesmoke;
}

#back-to-top-btn {

    position: fixed;
    box-sizing: border-box;
    bottom: 20px;
    right: 20px;
    font-size: 23px;
    display: none;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: azure;
    color: darkred;
    cursor: pointer;
    outline: none;
    border: 3px solid darkred;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: darkred;
    color: #fff;
}

/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

/* zoomIn */
/* @keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
} */

/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}