
.sorting_row
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: center;

}
.form-check-input:checked {
    background-color: #106b10;
}
.form-group
{
    width: 70%;
}
#sort
{
    margin-right: 5%;
}

.form-check
{
    margin-left: 5%;
}
.btn-success
{
    width: 5%;
}
/* MAGIC TEXT WOOOO */
.text
{
    animation:background-pan 2.5s linear infinite;
    font-weight: bold;
    font-family: 'DecoType Naskh';
    font-size: 20px;
    justify-content: center;
    display: flex;
    background-color: #63a91f;
    background-image: linear-gradient(to right, #63a91f 0%, #1a512e 74%);
    background-size:200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    border-bottom: 1px solid #d3cece;

}
/*to get an infinite loop effect for the background*/
@keyframes background-pan {
    from{
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
/*
    CSS GRID
    grid-template-columns sets number of columns and their width by using the repeat function
    gap : gap between the columns
 */
.grid
{
    margin-top: 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 7rem);
    gap: 5%;


}

.grid  img
{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content
{
    display:flex;
    justify-content:center;
    font-family:"Apple Color Emoji";
    font-size:20px;
}

