.ratings {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    display: flex;

}

.number-of-stars {
    font-size: 18px;
    font-family: 'Times New Roman, serif';
    font-weight: 400;
    color: #100000;
    margin: 20px 0;
    margin-left: 3%;
}

.rating-bar {
    height: 0.5cm;
    width: 25rem;
    background: #d3d3d3;
    border-radius: 12px;
    margin-top: 4%;
    z-index: 999;
    margin-left: 12%;
}

.ratingper {
    height: 0.5cm;
    width: 25rem;
    background: #296730;
    border-radius: 12px;
    position: relative;
    animation: fillBars 2.5s;

}

.ratingper-animation {
    background: #E87400;
    animation: fillBars 2.5s;
}

.ratingper::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    text-align: right;
    background: #f1f1f1;
    border-radius: 12px;
    font-size: 12px;
    top: -35px;
    right: 0;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.flex-box {
    display: flex;
    flex-direction: row;
}