* {
  margin: 0;
}

h2 {
  margin-left: 60px;
  font-style: oblique;
  margin-top: 20px;
  font-family: "DecoType Naskh";
}
h1 {
  font-family: "DecoType Naskh";
}
.content {
  margin-top: 20px;
  height: 800px;
  position: relative;
}
.grid-container {
  display: grid;
  margin: auto;
  width: 90%;
  grid-template-columns: 25% 25% 25% 25%;
}
.book,
.user {
  height: 400px;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
}
.book_cover {
  height: 210px;
  width: 140px;
  border-radius: 10px;
}
.book_title {
  color: #422f08;
}
.pages {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.book_author > a {
  color: #888888;
  font-style: italic;
  text-decoration: none;
}
.page-link {
  text-align: center;
  color: #422f08;
  font-weight: bold;
}
.page-link:hover {
  color: #eb6114;
}
.pagination {
  --bs-pagination-active-bg: #c52b2f;
}
.image {
  position: relative;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 0.8em;
  padding: 10px;
  margin-top: 0.25em;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.user_picture {
  border-radius: 50%;
  width: 150px;
}
.image--empty {
  display: block;
  margin: 0 auto;
  width: 400px;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}
.back--btn {
  color: whitesmoke;
  font-size: 17px;
  width: 9em;
  padding: 7px 7px 7px 7px;
  border: 0px;
  border-radius: 40px;
  background-color: #312403;
  text-decoration: none;
}
.back--btn:hover {
  background-color: #422f08;
}
.rating {
  display: inline-block;
  color: #888888;
  font-size: 25px;
  height: 25px;
  width: 125px;
  position: relative;
  font-size: 30px;
}

.rating-upper {
  color: #e87400;
  padding: 0;
  position: absolute; /*to put these stars on top of the un-highlighted ones*/
  position: absolute;
  /*to put these stars on top of the unhighlighted ones*/
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  /*to crop down the  combined width of the spans if it's > width of the rating-upper div*/
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}
