.rating {
    display: inline-block;
    color: #888888;
    font-size: 25px;
    height: 25px;
    width: 120px;
    position: relative;
}

.rating-upper {
    color: #c52b2f;
    padding: 0;
    position: absolute; /*to put these stars on top of the un-highlighted ones*/
    position: absolute;
    /*to put these stars on top of the unhighlighted ones*/
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    /*to crop down the  combined width of the spans if it's > width of the rating-upper div*/
}

.rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
}