.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #888888;
    font-size: 25px;
    height: 25px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
}

.rating-upper {
    color: #c52b2f;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    /*flex-direction: row;*/
    top: 0;
    left: 0;
    overflow: hidden;

}

.rating-lower {
    padding: 0;
    display: flex;
    /*flex-direction: row;*/
    z-index: 0;
}
