/* ------------------------NAV BAR ------------------*/
.navbar
{
    background-color: #efddb3;
}
.navbar-brand
{
    font-family: "Script MT Bold";
}
.nav-item:not(:last-child) .nav-link:hover
{
    background-color: #422f08;
    color: whitesmoke;

}
.fa-magnifying-glass
{
    color: #b4b4b4;
    align-self: center;
    transform: translateX(-180%);
}
.profilePic
{
    border-radius: 50%;
    width: 12%;
    height: 15%;
    object-fit: cover;
    margin-left: 80%;
}
.profilePic:hover
{
    background-color: #422f08;
}
/*------------------------------*/
.d-flex{
    justify-content: center;
    display: flex;
    margin-right: auto;
}
.container
{
    display: flex;
    flex-direction: row;
}

.ImagePos
{
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    flex-direction: column;
    width: 15em;
    height:15em ;

}
#cover
{
    box-shadow: 0 0 10px #141515;
}

.box1
{
    margin-left: 5em;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    width: 50%;

}
#synopsis
{
    font-family: " Times New Roman, serif";
    padding-top: 20px;
    font-size: 18px;
}
#liste
{
    margin-left:30px ;
    list-style: none;
}
#lii
{
    font-family: 'DecoType Naskh';
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}
#lii:hover
{
    text-decoration:underline;
    text-decoration-color: darkgreen;
    text-decoration-thickness: 2.5px;
    animation: underline 1s ease-in-out;
}
@keyframes underline {
    from {
        text-decoration-color: green;
    }
    to {
        text-decoration-color: ghostwhite;
    }
}
.author
{
    margin-top: 20px;
    font-family:  'Times New Roman, serif';
    font-size: 18px;
}
#authorpic
{
    border-radius: 50%;
    width: 11%;
    height: 20%;
    object-fit: cover;
}

#userpic
{
    border-radius: 50%;
    width:70px;
    margin-left: 45%;
    margin-top: 5%;

}

#question
{
    font-family:'DecoType Naskh';
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 3em;
}
.writereview
{
    margin-left: 7px;
    color: whitesmoke;
    font-size: 17px;
    width: 9em;
    padding: 7px 7px 7px 7px;
    border: 0px;
    border-radius: 40px;
    background-color: #312403;
}
.writereview:hover
{
    background-color: #422f08;
}



/*BUTTON ANIMATION */
#addtolist
{
    margin-left: 20px;
    margin-top: 2.2rem;
    color: white;
    font-size: 22px;
    width: 9em;
    padding: 5px 5px 9px 10px;
    border: 0px;
    border-radius: 40px;
    background-color: #296730;
    transition: transform 0.3s ease;
}
#addtolist:hover
{
    background-color: #317539;
}

/* when i click on the button it goes down */
#addtolist:active
{
    transform: scale(0.96);
}
/* ::before :insert content before the content of an element
  we will add two "boxes" that will delimit the animation one on top and the other on the bottom
    z-index determines stacking order of elements in the z axis to control how elements are visually layered on top of
    each other
*/
#addtolist::before,#addtolist::after
{
    overflow: hidden;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    z-index: -1;

}
/*
    we are adding the circle shapes with background-image the shapes are in different colors and sizes
    and we add an animation
 */
#addtolist.animate::before
{
    top: -70%;
    background-image:radial-gradient(circle,#296730 20%,transparent 20%),
    radial-gradient(circle,transparent 20%, #296730 20%,transparent 20%),
    radial-gradient(circle,#296730 20%,transparent 20%),
    radial-gradient(circle,transparent 10%, #296730 15%,transparent 20%),
    radial-gradient(circle,#296730 20%,transparent 20%),
    radial-gradient(circle, #3f8545 20%,transparent 20%),
    radial-gradient(circle, #30803a 20%,transparent 20%),
    radial-gradient(circle, #307338 20%,transparent 20%);
    background-size: 10% 10%,20% 20%,15% 20%,20% 20%,18% 18% ,10% 10% ,15% 15%, 18% 18%;
    background-position: 5% 90%,10% 90%,10% 90%,15% 90%, 25% 90%, 25% 90%,40% 90%,55% 90%,70% 90%;
    animation: topBubbles 0.6s ease-in-out forwards ;
}
@keyframes topBubbles {
    50%
    {
        background-position: 0% 80%,0% 20%,10% 40%,20% 0%, 30% 30%, 22% 50%,50% 50%,65% 20%,90% 30%;
    }
    100%
    {
        background-position: 0% 70%, 0% 10%, 10% 30%,20% -10%,30% 20%,22% 40%,50% 40%,65%10%,90% 20%;
        background-size: 0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%;
    }
}
#addtolist.animate::after
{
    bottom: -70%;
    background-image: radial-gradient(circle,#296730 20%,transparent 20%),
    radial-gradient(circle,transparent 10%, #296730 15%,transparent 20%),
    radial-gradient(circle,#296730 20%,transparent 20%),
    radial-gradient(circle,#296730 20%,transparent 20%),
    radial-gradient(circle, #397740 20%,transparent 20%),
    radial-gradient(circle, #36863e 20%,transparent 20%),
    radial-gradient(circle, #23592a 20%,transparent 20%);
    background-size: 15% 15%,20% 20%,18% 18%,20% 20%,15% 15%,20% 20%,18% 18%;
    background-position: 10% 0%,30% 10%,55% 0%,70% 0%,85% 0%,70% 0%,70% 0%;
    animation: bottomBubbles 0.6s ease-in-out forwards ;
}
@keyframes bottomBubbles {
    50%
    {
        background-position: 0% 80%,20% 80%,45% 60%,60% 100%,75% 70%,95% 60%,105% 0%;
    }
    100%
    {
        background-position: 0% 90%,20% 90%,45% 70%, 60% 110%, 75% 80%, 95% 70%,110% 10% ;
        background-size: 0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%;
    }

}