
table
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}
.row
{
    margin-top: 5%;
    display: flex;
    justify-content: center;

}
.form-check-input:checked {
    background-color: #106b10;
}
.form-group
{
    width: 70%;
}
#sort
{
    margin-right: 5%;
}

.form-check
{
    margin-left: 5%;
}
.btn-success
{
    width: 5%;
}

/*FIXING THE HEIGHT/WIDTH OF EACH COLUMN*/
/*  width for each table column (table header & table data) 1,2... and used text-align to center */
th:nth-child(1),
td:nth-child(1) {
    width: 10rem;
}

th:nth-child(2),
td:nth-child(2) {
    width: 10rem;
    text-align: center;
}

th:nth-child(3),
td:nth-child(3) {
    width: 10rem;
    text-align: center;
}

th:nth-child(4),
td:nth-child(4) {
    width: 10rem;
    text-align: center;
}

th:nth-child(5),
td:nth-child(5) {
    width: 10rem;
    text-align: center;
}

th:nth-child(6),
td:nth-child(6) {
    width: 10rem;
    text-align: center;
}
table img {
    width: 100%;
    height: 100%;
}